version: '3.4'
services:
  lightning-network.dnp.dappnode.eth:
    image: 'lightning-network.dnp.dappnode.eth:0.1.2'
    build: ./build
    volumes:
      - 'lndconfig_data:/root/.lnd/'
      - 'lndconfig_backup:/rtl/backup/'
    ports:
      - '9735:9735'
    environment:
      - RTL_PASSWORD=
      - RPCUSER=dappnode
      - RPCPASS=dappnode
      - BITCOIND_HOST=bitcoin.dappnode
      - NETWORK=mainnet
      - ALIAS=
      - 'COLOR=#5ACDC5'
      - EXT_IP=
    restart: always
volumes:
  lndconfig_data: {}
  lndconfig_backup: {}
